In [45]:
import random
import pandas as pd
import csv


data = pd.read_csv('./study.csv')
data
# data.sort_values(by=['우선순위 점수'])

       75  10  전공
0     236  13  일반
1     317  43  전공
2      69  72  교양
3     105  90  전공
4     330  71  일반
...   ...  ..  ..
9994  183  83  전공
9995  205  38  전공
9996  175  32  전공
9997  304  41  교양
9998    3  15  전공

[9999 rows x 3 columns]

In [ ]:
category_map = {'전공': 1.5, '교양': 1.0, '일반': 0.5}
data['가중치'] = data['구분'].map(category_map)
T = data['남은 시간']
P = data['학습 진도율']
C = data['가중치']
data['우선순위 점수'] = C * (1 / (T + 0.01) + (0.1 * (100 - P)))
data['우선순위 점수'] = data['우선순위 점수'].round(4)
data.to_csv('final.csv')